.note-preview{
    margin-bottom: 15px;
    padding:5px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(225, 224, 224);
    box-shadow: 0 0 3px 0 rgb(176, 176, 176) ;
    break-inside: avoid-column;
}

.note-content img,iframe{
    padding: 5px 0px;
    width: 100%;
}

.note-head,
.note-bottom{
    background-color:rgba(255, 255, 255, 0.408);
    padding: 5px;
    border-radius: 10px;
    font-size: 1.2em;
    font-family: lato-bold;
}

li{
    list-style: none;
    
}

iframe{
    border: none;
}